@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  background-color: #eeeeee;
  position: fixed;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: 'Open Sans', 'Arial', 'Sans Serif';
  font-weight: bold;
}

.navbar img {
  height: 60%;
  margin: auto 0;
}

.navbar .links {
  display: flex;
  justify-content: center;
}

.navbar .links p {
  width: 80px;
  margin: auto;
}

.welcome {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  top: 75px;
}

.welcomeImg {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.welcomeImg img {
  display: block;
  margin: auto;
  width: 100%;
}

.imgCaption {
  font-size: 6px;
}

.welcome .options {
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Rubik', 'Arial', 'Sans Serif';
}