@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@400;700&display=swap');

:root {
  --grey-accent: #c7c7c7;
  --red-accent: #650333;
  --button: #033365;
  --button-active: #044c97;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', 'Arial', 'Sans Serif';
}

.link {
  text-decoration: none;
  text-align: center;
  color: #eee;
  background-color: var(--button);
  margin: auto 10px;
  vertical-align: middle;
  line-height: 35px;
  border-radius: 30px;
  box-shadow: 1px 1px #0003;
  transition: 0.5s;
  padding: 3px -3px;
  letter-spacing: 1px;
  height: 35px;
  border: 2px solid var(--grey-accent);
}

.link:hover {
  background-color: var(--button-active);
  cursor: pointer;
}

.navbar {
  background-color: var(--grey-accent);
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: bold;
}

.navbar img {
  height: 60%;
  margin: auto 0;
}

.navbar .links {
  display: flex;
  justify-content: center;
}

.navbar .links .link {
  width: 85px;
  height: 35px;
  border-width: 0;
}

.navbar .links .link:last-of-type {
  margin-right: 50px;
}

.content {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  top: 50px;
}

.content .link {
  font-family: 'Rubik', 'Arial', 'Sans Serif';
  font-weight: bold;
  padding: 0 15px;
  height: 39px;
  margin: 15px 0;
}

.welcomeImg {
  margin: auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.welcomeImg img {
  display: block;
  margin: auto;
  width: 100%;
}

.imgCaption {
  font-size: 6px;
}

.welcome .options {
  max-width: 500px;
  margin: 5px auto;
  display: flex;
  justify-content: space-evenly;
}

.entryForm .row {
  display: flex;
}

.entryForm .row .item {
  display: flex;
  flex-direction: column;
  margin: 15px 30px 0 0;
}

.entryForm label {
  font-size: 10px;
  margin-bottom: 2px;
}

.entryForm .error {
  color: var(--red-accent);
  margin-top: -20px;
}

.item :not(label) {
  height: 39px;
  border: 2px solid var(--grey-accent);
  padding-left: 13px;
  border-radius: 25px;
  font-size: 14px;
}

.entryForm * {
  caret-color: transparent;
}

.entryForm input {
  border-radius: 25px;
}

.entryForm select {
  height: 39px;
  border: 2px solid var(--grey-accent);
  background-color: #fff;
  transition: 0.3s;
}

.entryForm select:hover {
  background-color: var(--grey-accent);
}

.entryForm textarea {
  border: 2px solid var(--grey-accent);
  width: 400px;
  height: 100px;
  font-size: 14px;
  padding-top: 9px;
}

.item .name {
  width: 150px;
}

.item .email {
  width: 250px;
}