@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  background-color: #eeeeee;
  position: fixed;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: 'Open Sans', 'Arial', 'Sans Serif';
  font-weight: bold;
}

.navbar img {
  height: 60%;
  margin: auto 0;
}

.navbar .links {
  display: flex;
  justify-content: center;
}

/* TODO: change to Links */
.navbar .links p {
  width: 80px;
  margin: auto;
}